body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

#myvideo {
    z-index:-1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  

.box{
    width:300px;
    padding: 50px;
    position:absolute;
    top:50%;
    left:20%;
    transform:translate(-50%,-50%);
    background:rgb(0,0,0,0.4);
    text-align:center;
}

.box h3{
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom:40px;
}
::placeholder{color:white;}

.box input[type="text"],.box input[type="password"]
{
    border:0;
    background: none;
    display:block;
    text-align:center;
    margin:20px auto;
    border:3px solid #0367fd;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition:0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus
{width:270px;
border-color:#ffc400;}

.box input[type="submit"]
{
    border:0;
    background: none;
    display:block;
    text-align:center;
    margin:20px auto;
    border:3px solid #ffc400;
    padding:14px 10px;
    width:120px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition:0.25px;
    cursor:pointer;
}

.box input[type="submit"]:hover{
    background: #ffc400;
}